<div>
  <h3>SHOW</h3>
  <p><b>NAME: </b><%= food.name %></p>
  <p><b>ADDRESS: </b><%= food.address %></p>
  <p><b>DATE: </b><%= food.date %></p>
  <p><b>TIME: </b><%= food.time %></p>
</div>
<a href="/foods" class="btn btn-primary">Back</a>
<a href="/foods/<%= food._id %>/edit" class="btn btn-danger">Edit</a>
